{% include "header.html" %}

    <div class="card">
        <div class="card-header">
            <nav class="nav nav-pills">
              <a class="nav-link" href="/">主页</a>
              <a class="nav-link active" href="/advice">问题反馈</a>
            </nav>
        </div>
        <div class="card-body">

            <form action="/advice/" method="post">
                <div class="form-group">
                    <label>称呼：</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="如何称呼">
                </div>
                <div class="form-group">
                    <label>意见和建议：</label>
                    <input type="text" class="form-control" name="content" id="content" placeholder="输入意见和建议">
                </div>
                <div class="form-group">
                    <label>联系方式：</label>
                    <input type="text" class="form-control" name="contact_info" id="contact_info" placeholder="输入联系方式">
                </div>
                <button type="submit" class="btn btn-primary" >提交</button>
                {% csrf_token %}
            </form>
        </div>
    </div>


{% include "footer.html" %}