<!DOCTYPE html>
<html lang="zh-hans">
<head>
    <meta charset="UTF-8">
    <title>跳转回主页</title>
</head>
<body>
提交完成，<span id="time">5</span>秒后跳转到主页...
<script>

        var second = 5;
        //2.1定义一个方法，获取span标签，修改span标签体内容，时间...
        var time = document.getElementById("time");
        function showTime() {
            second --;
            //判断时间如果<=0，则跳转到指定页面
            if (second <= 0) {
                //跳转到指定页面
                location.href = "/";
            }
            time.innerHTML = second + "";
        }

        setInterval(showTime,1000);
</script>
</body>
</html>